body{
    background: #D0E3FE;
    margin: 0;
    padding: 0; 
    position: relative; 
}

.DashboardContainer{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 653px;
    height: 77px;
    flex-shrink: 0;
    border-radius: 5px;
    color: #fff;
    background: #3677A7;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    text-align: center;
    font-family: "Kaisei Decol";
    font-size: 13px;

    position: relative;
    top: 1px; 
    left: 50%; /* Center horizontally */
    transform: translateX(-50%); /* Center horizontally */
}

.Container{
    width: 1044px;
    height: 153px;
    flex-shrink: 0;
    border-radius: 5px;
    background: #FFF;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    margin-bottom: 30px;
    padding-top: 25px;
}

.Title{
    position: relative;
    top: 25px; /* Negative margin to overlap with container */
    left: -5px;
    text-align: center;
    width: 153px;
    height: 42px;
    border-radius: 5px;
    background: #92C3E7;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.ConfigTitle{
    width: 230px;
    height: 45px;
}

.AdminTitle{
    width: 240px;
    height: 45px;
}

.Logout{
    width: 193px;
    height: 52px;
    flex-shrink: 0;
    border-radius: 5px;
    background: #E6E6E6;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    font-size: 22px;
    position: absolute;
    text-align: center;
    justify-content: center;
    align-items: center;
    top: 20px;
    right: 20px;
    display: flex;
}