.components{
    width: 240px;
    height: 52px;
    flex-shrink: 0;
    border-radius: 5px;
    background: #3677A7;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    color: #fff;
    font-size: 20px;
    text-align: center;
    display: flex; 
    align-items: center;
    justify-content: center; 
}

.bigContainer{
    display: flex; 
    justify-content: space-between; 
    align-items: center; 
    padding: 20px; 
    width: 100%; 
    box-sizing: border-box; 
    margin-top: 20px;
}